body {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #222;
    margin: 4em 0;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    font-weight: bolder;
    margin: 1em 0;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    font-weight: bolder;
    margin: 1em 0 0.5em 0;

}
h4 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-weight: bolder;
    margin: 2em 0 0.5em 0;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    text-align: center;
    margin-top: 2em;
}

.row img {
    max-width: 200px;
}

.timestamp {
    color: #999;
    font-size: 0.8em;
}

@media (min-width: 768px) {
    h1 {
        margin: 1em 0;
        text-align: left;
    }
    .download {
        padding-left: 20px;
        font-size: 0.8em;
    }
    footer {
        margin-top: 4em;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 2em;
    }
    .container {
        max-width: 970px;
    }
    footer {
        text-align: center;
        font-size: 0.7em;
    }
    .row img {
        max-width: 100%;
    }
}
